.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.rdb
.pytest_cache/
*.egg-info/
dist/
build/
sdist/
develop-eggs/
eggs/
parts/
var/
*.egg
.tox/
.coverage
coverage.xml
.cache
nosetests.xml
*.cover
.DS_Store
*.log
*.sqlite

.*_cache 